In [1]:
##import Necessary Library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import tensorflow as tf

In [2]:
##import dataset
df= pd.read_csv('D:/Data Science/Python/Deep Learning/Churn Modelingg.csv')

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
##now drop the unnecessary data
df.drop(['RowNumber',"CustomerId","Surname"],axis=1,inplace=True)

In [5]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
##now splitting dataset into x & y
x=df.drop(["Exited"],axis=1)
y=df["Exited"]

In [7]:
##for Categoricaldata we need to use encoding
geography=pd.get_dummies(x["Geography"],dtype=int,drop_first=True)
gender=pd.get_dummies(x["Gender"],dtype=int,drop_first=True)

In [8]:
##drop categorical features
x.drop(["Geography","Gender"],axis=1,inplace=True)

In [9]:
##concat the encoded features with main dataset
x=pd.concat([x,geography,gender],axis=1)

In [10]:
## Train test Splitting
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [11]:
## feature Scalling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [12]:
##Checking the shape of splitted datasets
print(x_train.shape)
y_train.shape

(8000, 11)

(8000,)

In [13]:
##import model and layers from tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU,PReLU,ELU,ReLU
from tensorflow.keras.layers import Dropout

In [14]:
##model
classifier=Sequential()

In [15]:
#adding the input Layer
classifier.add(Dense(units=11,activation='ReLU'))

In [16]:
## adding first hidden layer
classifier.add(Dense(units=7,activation='ReLU'))

In [17]:
## adding second hidden layer
classifier.add(Dense(units=6,activation='ReLU'))

In [18]:
##Output layer
classifier.add(Dense(1,activation='sigmoid'))

In [19]:
##Early stopping
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.00001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)

In [20]:
##need compile the model
classifier.compile(optimizer='adam',loss="binary_crossentropy",metrics=['accuracy'])

In [21]:
##now fit the model on training dataset
model=classifier.fit(x_train,y_train,validation_split=0.33,batch_size=10,epochs=100,callbacks=early_stopping)

Epoch 1/100
536/536 [==============================] - 2s 2ms/step - loss: 0.5068 - accuracy: 0.7841 - val_loss: 0.4560 - val_accuracy: 0.8035
Epoch 2/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4352 - accuracy: 0.8145 - val_loss: 0.4381 - val_accuracy: 0.8046
Epoch 3/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4191 - accuracy: 0.8216 - val_loss: 0.4280 - val_accuracy: 0.8099
Epoch 4/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4087 - accuracy: 0.8274 - val_loss: 0.4193 - val_accuracy: 0.8141
Epoch 5/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3963 - accuracy: 0.8321 - val_loss: 0.4129 - val_accuracy: 0.8118
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3843 - accuracy: 0.8408 - val_loss: 0.4010 - val_accuracy: 0.8213
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3726 - accuracy: 0.8459 - val_loss: 0.3931 - val_accuracy: 0.8296
Epoch 8/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3627 - accuracy: 0.8505 - val_loss: 0.3858 - val_accuracy: 0.8296
Epoch 9/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3568 - accuracy: 0.8531 - val_loss: 0.3788 - val_accuracy: 0.8410
Epoch 10/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3494 - accuracy: 0.8558 - val_loss: 0.3726 - val_accuracy: 0.8421
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3445 - accuracy: 0.8572 - val_loss: 0.3740 - val_accuracy: 0.8417
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3424 - accuracy: 0.8578 - val_loss: 0.3666 - val_accuracy: 0.8466
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3380 - accuracy: 0.8580 - val_loss: 0.3667 - val_accuracy: 0.8463
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3368 - accuracy: 0.8610 - val_loss: 0.3667 - val_accuracy: 0.8451
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3350 - accuracy: 0.8580 - val_loss: 0.3646 - val_accuracy: 0.8504
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8608 - val_loss: 0.3685 - val_accuracy: 0.8451
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8604 - val_loss: 0.3648 - val_accuracy: 0.8482
Epoch 18/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3319 - accuracy: 0.8608 - val_loss: 0.3641 - val_accuracy: 0.8501
Epoch 19/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3305 - accuracy: 0.8619 - val_loss: 0.3617 - val_accuracy: 0.8508
Epoch 20/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3302 - accuracy: 0.8617 - val_loss: 0.3612 - val_accuracy: 0.8516
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3284 - accuracy: 0.8634 - val_loss: 0.3639 - val_accuracy: 0.8493
Epoch 22/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3280 - accuracy: 0.8636 - val_loss: 0.3659 - val_accuracy: 0.8489
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3275 - accuracy: 0.8634 - val_loss: 0.3626 - val_accuracy: 0.8508
Epoch 24/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3268 - accuracy: 0.8627 - val_loss: 0.3621 - val_accuracy: 0.8542
Epoch 25/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3266 - accuracy: 0.8643 - val_loss: 0.3631 - val_accuracy: 0.8527
Epoch 26/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3269 - accuracy: 0.8619 - val_loss: 0.3616 - val_accuracy: 0.8501
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3243 - accuracy: 0.8628 - val_loss: 0.3636 - val_accuracy: 0.8538
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3241 - accuracy: 0.8621 - val_loss: 0.3606 - val_accuracy: 0.8546
Epoch 29/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3244 - accuracy: 0.8642 - val_loss: 0.3617 - val_accuracy: 0.8531
Epoch 30/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3235 - accuracy: 0.8640 - val_loss: 0.3650 - val_accuracy: 0.8493
Epoch 31/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3234 - accuracy: 0.8643 - val_loss: 0.3641 - val_accuracy: 0.8523
Epoch 32/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3222 - accuracy: 0.8664 - val_loss: 0.3631 - val_accuracy: 0.8516
Epoch 33/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3234 - accuracy: 0.8625 - val_loss: 0.3636 - val_accuracy: 0.8531
Epoch 34/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3211 - accuracy: 0.8647 - val_loss: 0.3634 - val_accuracy: 0.8523
Epoch 35/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3211 - accuracy: 0.8681 - val_loss: 0.3650 - val_accuracy: 0.8523
Epoch 36/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3216 - accuracy: 0.8655 - val_loss: 0.3662 - val_accuracy: 0.8485
Epoch 37/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3202 - accuracy: 0.8655 - val_loss: 0.3648 - val_accuracy: 0.8512
Epoch 38/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3201 - accuracy: 0.8656 - val_loss: 0.3670 - val_accuracy: 0.8504
Epoch 39/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3197 - accuracy: 0.8656 - val_loss: 0.3678 - val_accuracy: 0.8504
Epoch 40/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3201 - accuracy: 0.8656 - val_loss: 0.3666 - val_accuracy: 0.8463
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3196 - accuracy: 0.8642 - val_loss: 0.3647 - val_accuracy: 0.8531
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3190 - accuracy: 0.8628 - val_loss: 0.3675 - val_accuracy: 0.8527
Epoch 43/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3188 - accuracy: 0.8636 - val_loss: 0.3635 - val_accuracy: 0.8535
Epoch 44/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3185 - accuracy: 0.8673 - val_loss: 0.3656 - val_accuracy: 0.8523
Epoch 45/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3178 - accuracy: 0.8696 - val_loss: 0.3683 - val_accuracy: 0.8512
Epoch 46/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3172 - accuracy: 0.8653 - val_loss: 0.3661 - val_accuracy: 0.8516
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3176 - accuracy: 0.8684 - val_loss: 0.3675 - val_accuracy: 0.8493
Epoch 48/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3165 - accuracy: 0.8655 - val_loss: 0.3720 - val_accuracy: 0.8493
Epoch 48: early stopping

In [22]:
#predicting the test set results
y_pred=classifier.predict(x_test)
y_pred=(y_pred>0.5)

63/63 [==============================] - 0s 774us/step

In [23]:
#confusion metrics
from sklearn.metrics import confusion_matrix
cn=confusion_matrix(y_test,y_pred)
cn

array([[1536,   59],
       [ 215,  190]], dtype=int64)

In [24]:
#accuracy score
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
print(score)

0.863